

.banner-shop img{
    width: 100%;
    max-height: 316px;
}
.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
}

.title h2 {
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.flex .home {
    a {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
    }
}

.flex p {
    a {
        color: #000;
        text-decoration: none;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}