.pagination {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pagination li {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f9f6f2;
    color: #000;
    border: 1px solid #ddd;
}

.pagination .active {
    background-color: #b88e2f;
    color: #fff;
    border: none;
}

.pagination li:hover {
    background-color: #e6dac7;
}