footer {
    width: 100%;
    /* Đảm bảo footer chiếm toàn bộ chiều rộng */
    height: 270px;
}

.support {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* Đảm bảo support chiếm toàn bộ chiều rộng */
    height: 150px;
    /* Điều chỉnh chiều cao cho phù hợp */
    background-color: #FAF3EA;
    align-items: center;
    padding: 20px 0;
    /* Thêm padding để tạo khoảng cách */
}

.support-item {
    display: flex;
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

.support-item img {
    height: 40px;
    /* Điều chỉnh kích thước ảnh */
    margin-right: 15px;
    /* Thêm khoảng cách giữa ảnh và văn bản */
}

.support-text h3 {
    margin: 0;
    /* Loại bỏ margin mặc định */
    font-size: 16px;
    /* Điều chỉnh kích thước chữ */
    font-weight: bold;
}

.support-text p {
    margin: 0;
    /* Loại bỏ margin mặc định */
    font-size: 14px;
    /* Điều chỉnh kích thước chữ */
    color: #666;
    /* Điều chỉnh màu chữ */
}

.footer-end {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    border-top: 1px solid #eee;
}
.footer-section {
    flex: 1;
    text-align: left;
    margin-right: 100px;
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-logo {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
}

.footer-address {
    line-height: 1.5;
    text-align: left;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.newsletter-title {
    margin-bottom: 10px;
    text-align: left;
}

.newsletter-input {
    display: flex;
    justify-content: flex-start;
}

.newsletter-item {
    margin-right: 20px;
}

.newsletter-text {
    margin: 0;
    white-space: nowrap;
}
.newsletter-text input{
    border: none;
    outline: none;
}
.newsletter-text.subscribe {
    font-weight: bold;
    cursor: pointer;
}

.newsletter-underline {
    border-bottom: 1px solid #ccc;
    width: 200px;
    margin-top: 5px;
}

.newsletter-underline-2 {
    border-bottom: 1px solid #ccc;
    width: 100px;
    margin-top: 5px;
}

.footer-copyright {
    text-align: start;
    padding: 10px 100px;
    /* border-top: 1px solid #eee; */
}

.copyright-line {
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
    /* Đường gạch chân chiếm 80% chiều rộng */
    margin: 0 auto 10px;
    /* Căn giữa và tạo khoảng cách */
}