header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}


nav ul {
    display: flex;
    gap: 75px;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    
}
nav a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}

nav a:hover{
    color: orange;
    background-color: aqua;
}

.icon {
    display: flex;
    gap: 45px;

}

.icon a {
    color: #000000;

}
