@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 50px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}

nav a {
  position: relative;
  text-decoration: none;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

nav a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.icon a {
  color: #000000;
}

footer {
  width: 100%;
  /* Đảm bảo footer chiếm toàn bộ chiều rộng */
  height: 270px;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  /* Đảm bảo support chiếm toàn bộ chiều rộng */
  height: 150px;
  /* Điều chỉnh chiều cao cho phù hợp */
  background-color: #FAF3EA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  /* Thêm padding để tạo khoảng cách */
}

.support-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Căn giữa theo chiều dọc */
}

.support-item img {
  height: 40px;
  /* Điều chỉnh kích thước ảnh */
  margin-right: 15px;
  /* Thêm khoảng cách giữa ảnh và văn bản */
}

.support-text h3 {
  margin: 0;
  /* Loại bỏ margin mặc định */
  font-size: 16px;
  /* Điều chỉnh kích thước chữ */
  font-weight: bold;
}

.support-text p {
  margin: 0;
  /* Loại bỏ margin mặc định */
  font-size: 14px;
  /* Điều chỉnh kích thước chữ */
  color: #666;
  /* Điều chỉnh màu chữ */
}

.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 100px;
  border-top: 1px solid #eee;
}

.footer-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  margin-right: 100px;
}

.footer-section:last-child {
  margin-right: 0;
}

.footer-logo {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

.footer-address {
  line-height: 1.5;
  text-align: left;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
}

.newsletter-title {
  margin-bottom: 10px;
  text-align: left;
}

.newsletter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newsletter-item {
  margin-right: 20px;
}

.newsletter-text {
  margin: 0;
  white-space: nowrap;
}

.newsletter-text input {
  border: none;
  outline: none;
}

.newsletter-text.subscribe {
  font-weight: bold;
  cursor: pointer;
}

.newsletter-underline {
  border-bottom: 1px solid #ccc;
  width: 200px;
  margin-top: 5px;
}

.newsletter-underline-2 {
  border-bottom: 1px solid #ccc;
  width: 100px;
  margin-top: 5px;
}

.footer-copyright {
  text-align: start;
  padding: 10px 100px;
  /* border-top: 1px solid #eee; */
}

.copyright-line {
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
  /* Đường gạch chân chiếm 80% chiều rộng */
  margin: 0 auto 10px;
  /* Căn giữa và tạo khoảng cách */
}

.banner-shop img {
  width: 100%;
  max-height: 316px;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
}

.title h2 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.flex .home a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.flex p a {
  color: #000;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.title-2 {
  text-align: center;
  margin: 50px;
}
.title-2 h3 {
  margin-top: 20px;
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.title-2 p {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.category img {
  border-radius: 10px;
  width: 381px;
  max-width: 100%;
}
.category p {
  color: #333;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}

.decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FCF8F3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

.text-section,
.image-section {
  padding: 40px;
}

.text-section h1 {
  color: #3A3A3A;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.subtitle {
  color: #3A3A3A;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.text-section p {
  color: #616161;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.btn {
  background-color: #B88E2F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.image-section {
  position: relative;
}

.image-overlay {
  position: absolute;
  bottom: 80px;
  left: 80px;
  background: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  padding: 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.image-1 {
  width: 350px;
}

.image-section1 {
  padding: 40px 40px 40px 0px;
  position: relative;
}

.circle-button {
  position: absolute;
  top: 30%;
  right: 40px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 2px solid #fff;
}

.circle-button:hover {
  background-color: #FCF8F3;
}

.dots-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.dot.active {
  background-color: orange;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.dot:hover {
  background-color: orange;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-1 {
  position: relative;
  width: 350px;
  background: url("./assets/background.jpg") no-repeat center center/cover;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

.label {
  color: #777;
  font-size: 14px;
  margin-bottom: 5px;
}

.arrow-button {
  position: absolute;
  bottom: 80px;
  right: 93px;
  width: 60px;
  height: 60px;
  background-color: #B1853F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.arrow-button i {
  color: #fff;
  font-size: 20px;
}

.circle-button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 2px solid #fff;
  /* Viền trắng nổi bật */
}

.circle-button i {
  color: #B1853F;
  /* Màu mũi tên */
  font-size: 20px;
}

.banner {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 239, 213, 0.9);
  padding: 40px;
  border-radius: 12px;
  max-width: 643px;
}

.banner-content h1 {
  color: #b88e2f;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
}
.banner-content h4 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
}

.banner-content p {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 17px;
}

.btn {
  display: inline-block;
  background-color: #b88e2f;
  color: #fff;
  padding: 25px 72px;
  text-decoration: none;
  margin-top: 46px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pagination li {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f9f6f2;
  color: #000;
  border: 1px solid #ddd;
}

.pagination .active {
  background-color: #b88e2f;
  color: #fff;
  border: none;
}

.pagination li:hover {
  background-color: #e6dac7;
}

.box-card {
  max-width: 1440px;
  /* background-color: aqua; */
  margin: 0 60px;
}

.card {
  overflow: hidden;
  position: relative;
  width: 285px;
  background-color: #f4f5f7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card h2 {
  margin-left: 16px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 28.8px */
}
.card span {
  margin: 8px 0px 8px 16px;
  color: #898989;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}
.card .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unsafe;
      -ms-flex-pack: unsafe;
          justify-content: unsafe;
  gap: 5px;
}
.card .price span {
  margin-left: 16px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 30px */
}
.card .price p {
  color: #b0b0b0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  text-decoration: line-through;
}

.sale {
  position: absolute;
  background-color: #e97171;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 24px;
  right: 24px;
}

.sale span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
  text-align: center;
  top: 5px;
  right: 5px;
  position: absolute;
}

img {
  max-width: 100%;
}

.box-card {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 30px;
}

.navigate-icon {
  position: absolute;
  top: 55%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigate-icon img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.navigate-icon p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
}

.hove {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.hove button {
  opacity: 1;
  width: 202px;
  height: 48px;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: -40%;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.hove button a {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  color: #b88e2f;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.card:hover .hove {
  opacity: 1;
  z-index: 2;
}

.hove button:hover {
  background-color: #b88e2f;
}
.hove button:hover a {
  color: #fff;
}

.title-4 {
  color: #3a3a3a;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin: 50px;
}

.show {
  border: 1px solid #b88e2f;
  padding: 20px 40px;
  width: 200px;
  margin: 50px auto;
  text-align: center;
  color: #b88e2f;
}

.show a {
  text-decoration: none;
  color: #b88e2f;
}

.show a:hover {
  color: #fff;
}

.show:hover {
  background-color: #b88e2f;
}

*,
*::before,
*::after {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wap form {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.block1 {
  background: #fff;
}

.block1 h2 {
  margin-left: 20px;
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 36px;
}

.input-ngang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  margin-left: 31px;
  margin-bottom: 22px;
}

.input-ngang div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}

.block1 > div:not(.input-ngang) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
  margin-left: 31px;
  margin-bottom: 22px;
  width: 444px;
  /* Same width as two inputs in .input-ngang */
}

.block1 input {
  width: 100%;
  height: 55px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  background: #fff;
}

select {
  width: 100%;
  height: 55px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  background: #fff;
}

label {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.summary {
  margin-bottom: 20px;
}

.summary div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
}

.total {
  color: var(--Primary, #b88e2f);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.payment-methods {
  margin: 20px 0;
}
.payment-methods p {
  color: #9f9f9f;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 11px;
}

.payment-methods input[type=radio] {
  margin-right: 8px;
}

.privacy-policy {
  font-size: 12px;
  color: #555;
  margin: 20px 0;
}

button {
  width: 318px;
  height: 64px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #000;
  margin-left: 160px;
  margin-top: 39px;
}

button:hover {
  background: #333;
}

.hi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  margin-top: 87px;
  margin-bottom: 14px;
}
.hi h3 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.thaydoi label {
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 11px 0;
}

.thaydoi {
  margin-top: 25px;
}

.privacy-policy p {
  color: #000;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direction {
  margin-bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 100px;
  background: #f9f1e7;
  margin-top: -10px;
}

.left p {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right span {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.right select {
  margin-left: 10px;
  width: 65px;
  height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 90px;
}

th,
td {
  color: #9f9f9f;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 19px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: rgb(249, 241, 231);
  font-weight: 600;
}

tbody {
  margin-top: 20px;
  display: table-row-group;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-image {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  background: #d9d9d9;
}

.checkout-container {
  width: 40%;
  background-color: rgb(249, 241, 231);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-container h2 {
  margin-bottom: 61px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.price-3,
.price1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  padding: 0 20px;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.price-3 p,
.price1 p {
  margin-bottom: 31px;
}

.price-3 p {
  color: #9f9f9f;
}

.price1 p {
  color: #b88e2f;
  font-size: 20px;
}

.checkout-button {
  width: 222px;
  height: 59px;
  background: transparent;
  border: 1px solid #000;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  margin: 20px 0 40px 0;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

.quantity {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #9f9f9f;
  background-color: #fff;
  outline: none;
}

.comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}
.comparison h1 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}
.comparison p {
  color: #727272;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.comparison-title {
  margin-top: -100px;
}

.view {
  border-bottom: 2px solid #727272;
}

.compar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 47px;
}
.compar img {
  margin-bottom: 10px;
}
.compar h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%;
  margin-bottom: 10px;
  /* 30.36px */
}
.compar .price-2 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}
.compar span {
  color: #9F9F9F;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-left: 2px solid #9F9F9F;
  padding: 5px;
}

.add-product h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%;
}
.add-product .btn {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.title-1 {
  text-align: center;
  margin-bottom: 30px;
}
.title-1 h1 {
  margin-top: 20px;
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.title-1 p {
  color: #9F9F9F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 80px;
}

.phone-time {
  gap: 10px;
  padding: 10px 0;
}
.phone-time p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.phone-time h4 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.form input {
  margin-bottom: 30px;
  max-width: 100%;
  width: 528px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form label {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px 0;
}

.submit {
  padding: 14px 90px;
  width: 237px;
  background-color: #b1853f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}