* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-chi-tiet {
  max-width: 1440px;
  padding: 0 60px;
  margin: 0 auto;
}
.top-chi-tiet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 82px;
  margin-bottom: 30px;
}
.top-trai {
  display: inline-flex;
  gap: 48px;
}
.list-album {
  display: flex;
  flex-direction: column;
  gap: 32px;

  img {
    background-color: #d9d9d9;
    border-radius: 10px;
  }
}
.album-chinh {
  width: 523px;

  img {
    max-width: 100%;
    background-color: #f9f1e7;
    border-radius: 10px;
    width: 423px;
    height: 500px;
  }
}
.content {
  h2 {
    color: #000;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  span {
    color: #9f9f9f;

    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.top-phai {
  p {
    color: #000;
    width: 424px;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.size {
  margin-top: 22px;
  span {
    color: #9f9f9f;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  button {
    border-radius: 5px;
    background: #b88e2f;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border: none;
    color: #fff;
    margin-top: 12px;
  }
}
.color {
  margin-top: 22px;
  span {
    color: #9f9f9f;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border: none;
    margin-top: 12px;
  }
}
.tim {
  background-color: #816dfa;
}
.den {
  background-color: #000;
}
.vang {
  background-color: #b88e2f;
}
.buton {
  margin-top: 32px;
  margin-bottom: 30px;
  button {
    width: 100px;
    height: 50px;
    margin: 5px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #000;
  }
}
.buton .ok {
  width: 150px;
}
.product-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 20px;
  width: 600px;
}
.label {
  color: gray;
  color: #9f9f9f;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.icons a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.icons a i {
  font-size: 20px;
}
.stt {
  color: #9f9f9f;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
}
.icons {
  margin-left: 30px;
}
.title {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-top: 48px;
  margin-bottom: 10px;
  h2 {
    color: #000;

    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  span {
    color: #9f9f9f;

    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.content-title {
  color: #9f9f9f;

  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 40px;
  p {
    margin-bottom: 30px;
    margin-top: 37px;
  }
}
.anh-cuoi {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  img {
    border-radius: 10px;
    background: #d9d9d9;

    flex-shrink: 0;
  }
}
.buton {
  button span {
    padding: 10px;
  }
}
.bottom-chi-tiet .title {
  // background-color: #816dfa;
  position: relative;
}
